<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa-solid fa-sailboat"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/listing">Home</a>
        <a class="nav-link" href="/listing">All Listings</a>
        <a class="nav-link" href="/listing/new">Add New Listing</a>
      </div>

      <div class="navbar-nav ms-auto">
        <% if (!user) { %>  <!-- If user is not logged in -->
          <a class="nav-link" href="/auth/login">Login</a>
          <a class="nav-link" href="/auth/register">Sign Up</a>
        <% } else { %>  <!-- If user is logged in -->
          <span class="navbar-text">Welcome, <%= user.username %>!</span>
          <a class="nav-link" href="/auth/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
